@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body,
ul {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    align-items: center;
}

header {
    padding: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: rotateX(1deg);
}

header nav ul {
    display: flex;
    list-style: none;
}

.logo-container img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px; 
}

.login-nav-item * {
    display: inline-block;
    vertical-align: middle;
}

.login-btn {
    margin-left: 10px;
}

.nav-item {
    margin: 0 10px;
}

.nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight:600;
    font-size: 13px;
    font-style: normal;
    line-height: 100%;
    letter-spacing: 0%;
    color: #565656;
}

.nav-link:hover {
    color: #FF9100;
    cursor: pointer;
}

.btn {
    background-color: #FF9100;
    color: white;
    font-weight: 100;
    font-size: 13px;
    line-height: 16px;
    border-radius: 18px;
    padding: 10px 22px;
    border: none;
    text-transform: uppercase;
    box-shadow: 0px 1px 10px 0px #919191;
}

.intro {
    background-color: #FF9100;
    color: white;
    text-align: center;
    padding: 80px;
}

.intro h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 36px;
    line-height: 44px;
    font-weight: 600;
    align-self: center;
    vertical-align: middle;
}

.filters {
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
    
}

.filters label * {
    display: inline-block;
    vertical-align: middle;
}

.filters-title {
    font-size: 20px;
    font-weight: 600;
    color: #565656;
    line-height: 24px;
    vertical-align: middle;
    font-family: "Montserrat", sans-serif;
}

.filters label input {
    border: 1px solid #FF9100;
    border-radius: 4px;
    height: 28px;
    width: 160px;
    font-size: 16px;
    padding: 12px;
    background-color: transparent;
    margin-left: 10px;
}

.filters label{
    position: relative;
}

.filters label input:hover {
    color: #FF9100;
    cursor:text;
}
.question-mark-icon {
    position: absolute;
    top: 22px;
    right: -28px;
}

.filters label::after {
    content: "";
    display: block;
    clear: both;
    background-image: url(./images/Vector.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 22px;
    height: 22px;
    position: absolute;
    right: 20px;
    top: 20px;
}



